//BackgroundColors

$dark-color: #403a50;
$dark-gray-color: #363144;
$light-gray-color: #a2a3a8;
$white-color: #dfe2f1;
$medium-gray-color: #574f69;


// Neumorphism Colors
$light-neu: #fcfdfd;
$gray-neu: #d1d9e6;
$dark-neu: #a9abb4;

// System Color

$success-color: #2dcc48;
$danger-color: #d11b1b;