// Définir les couleurs principales
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;

// Définir les couleurs de texte
$text-color: #212529;
$secondary-text-color: #6c757d;
$light-text-color: #f8f9fa;
$dark-text-color: #343a40;

// Définir les couleurs de fond
$body-bg-color: #f8f9fa;
$secondary-bg-color: #6c757d;
$light-bg-color: #f8f9fa;
$dark-bg-color: #343a40;

// Définir les couleurs de bordure
$border-color: #dee2e6;
$secondary-border-color: #6c757d;
$light-border-color: #f8f9fa;
$dark-border-color: #343a40;

// Définir les couleurs de lien
$link-color: #007bff;
$link-hover-color: #0056b3;
$link-active-color: #0056b3;
