.nunito-paragraphe {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-important {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-button {
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}